.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(228, 228, 228);
        color: black;
        border: 2px solid black;
    }
    &.google-Sign-in {
        background-color: #DB4437;
        color: white;
        &:hover {
            background-color: rgb(255, 250, 250);
            border: 2px solid #d11909;
            color: black;
        }
    }
}