.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    border: 1px solid black;
    margin: 0px 7.5px 15px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    &:hover {
        cursor: pointer;
        & .backgroundImage {
            transform: scale(1.1);
            transition: all 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }
        & .content {
            opacity: 0.9;
        }
    }
    &.large {
        height: 380px;
    }
    &:first-child {
        margin-right: 7.5px;
    }
    &:last-child {
        margin-left: 7.5px;
    }
    .backgroundImage {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    .content {
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #f3f3f3;
        background-color: white;
        opacity: 0.7;
        position: absolute;
    }
    .title {
        color: black;
        font-size: 22px;
        margin-bottom: 6px;
        font-weight: bold;
    }
    .subtitle {
        font-size: 16px;
        font-weight: lighter;
        color: #181818;
    }
}